img {
  width: 20px;
}

img + img {
  margin-left: 5px;
}

img:hover {
  cursor: pointer;
}

.task_container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  box-shadow: 2px 2px 5px black;
}

.task_value {
  display: flex;
  align-items: center;
  width: 80%;

  .task_value_text {
    margin-left: 5px;
  }
}

.task_button {
  display: flex;
  width: 20%;
  justify-content: flex-end;
}